body{
  overflow: auto;
  scroll-behavior: smooth;
}
.existing {
  height: 50vh;
  background: #4f4f4f;
  color: white;
}

#scroll-stop {
  position: relative;
  height: 36vh;
  width: 100%;
  overflow: hidden;
}

.slide {
  position: absolute;
  display: flex;
  padding: 1vh;
  top: 0;
  left: 0;
  width: 100%;
  height: 36vh;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.slide .photo {
  width: 30%;
  padding: 10px;
}

.slide .photo img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.slide .info {
  width: 70%;
  padding: 10px;
}

.slide.active {
  opacity: 1;
}

.pager {
  position: absolute;
  height: 100%;
  width: 30px;
  right: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: solid 1px black;
  margin: 10px 0;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.indicator.active {
  background: black;
}
